*{
    box-sizing: border-box;
}
@font-face{
    font-family: PacificoRegular;
    src:url(/fonts/Pacifico-Regular.woff) format("woff");
}
@font-face{
    font-family: BebasNeue-Regular;
    src: url(/fonts/BebasNeue-Regular.woff) format("woff");
}

@font-face{
    font-family:HelveticaNeue;
    src: url(/fonts/HelveticaNeue.woff) format("woff");
}

body,
html{
    width:1400px;
    background-color:#fff;
    display:block ;
}
.container{
   width: 950px;
   margin: 0px auto;
} 

/*navigation*/
.nav{
    margin-top: 50px;
    
  }
  .bliz,h2{
      font-family:"PacificoRegular",sans-serif;
      font-size: 42px;
      color: #474747;
      position: relative;
      top: -50px;
      
  }
  a:hover{
      color: rgb(27, 27, 158);
      border-bottom: 1px solid purple;
      border-top: 1px solid purple;
  }
  ul,li,a{
      display: flex;
      justify-content: space-between;
      position: relative;
      padding: 5px;
      list-style: none;
      text-decoration: none;
      font-family:"BebasNeue-Regular",sans-serif ;
      font-size: 30px;
      color: #474747;
  }
  .nav-link{
      position: relative;
      top:-140px;
      left:15%;
  }
  .home{
      text-align: center;
      position: relative;
      top: -70%;
      left: 120px;
      color: #a5a5a5;
      font-family:"BebasNeue-Regular",sans-serif ;
      font-size: 24px;
      width: 150px;
      height: 20px;
  }
  .home-get{
      text-align: center;
      position: relative;
      top: -70%;
      left: 135px;
      color: #a5a5a5;
      font-family:"BebasNeue-Regular",sans-serif ;
      font-size: 24px;
      width: 150px;
      height: 20px; 
  }
  .li-nav{
      padding: 0px;
      margin: 0px;
  }
  /*project*/

  .about{
    margin-top: -70px;
  }
  .about_title{
    font-family:"BebasNeue-Regular",sans-serif;
    color: #474747;
    font-size: 34px;

  } 
  .about_text{
      color: #a5a5a5;
      font-family: "HelveticaNeue",sans-serif;
      font-style: italic;
      position: relative;
}

/*sidebar*/
.sidebar{
    display: flex;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 311px;
    bottom: 0px;
    left: 65%;
    right: 0px;
}
.about_blitz{
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.ul,.li,.link_side{
    flex-direction: column;
    font-family:"HelveticaNeue", sans-serif ;
    font-size: 14px;
    padding: 1px;
}

.link_side,.ul,.li:hover{
    color: rgb(83, 130, 204);
    cursor: pointer;

}    

.width_for_p{
    text-align: left;
    width: 200px;
    height: 20px;
    margin-bottom: 100px;
}

.title_sidebar__categories{
   margin-bottom:4px;
   font-family:"BebasNeue-Regular",sans-serif;
   color: #464646;
   font-size: 16px;

}

.title_sidebar{
    font-family:"BebasNeue-Regular",sans-serif;
    color: #464646;
    font-size: 16px;
}

.random_word{
    font-family:"HelveticaNeue", sans-serif ;
    font-size: 12px;
}

.colortext{
    color:#acacac;
}
.what{
    font-family:"HelveticaNeue", sans-serif ;
    font-size: 12px;
    color: #464646;
    font-size: 12px;
}
.about_hour{
    font-family:"HelveticaNeue", sans-serif ;
    font-size: 12px;
    color:#acacac;
}

/*contentBox*/
.cart__title{
    margin: 0px ;
}
.nav_bar{
    padding: 0px;
    margin: 0px;
}
.categories__cart{
    padding: 0px;
    margin: 0px;
    font: small;
}
.li_cat{
    margin-left: 0px;
    padding: 1px;
    font-size: 14px;
    
}
.li_cat:hover{
    color:#c9c9c9;
    cursor: default;
    border-left: 2px solid  #464646;
    border-right: 2px solid  #464646;
}
/*Cartbox*/
