@font-face{
    font-family: PacificoRegular;
    src:url(/fonts/Pacifico-Regular.woff) format("woff");
}
@font-face{
    font-family: BebasNeue-Regular;
    src: url(/fonts/BebasNeue-Regular.woff) format("woff");
}

@font-face{
    font-family:HelveticaNeue;
    src: url(/fonts/HelveticaNeue.woff) format("woff");
}

body,
html{
    width:1400px;
    display: block;
    background-color:#fff;
}
.container{
    max-width: 950px;
    margin: 0px auto;
}   
/*Навигация*/
.nav{
    margin-top: 50px;
    
  }
  .bliz,h2{
      font-family:"PacificoRegular",sans-serif;
      font-size: 42px;
      color: #474747;
      position: relative;
      top: -42px;
      
  }
  a:hover{
      color: rgb(27, 27, 158);
      border-bottom: 1px solid purple;
      border-top: 1px solid purple;
  }
  ul,li,a{
      display: flex;
      justify-content: space-between;
      position: relative;
      padding: 15px;
      list-style: none;
      text-decoration: none;
      font-family:"BebasNeue-Regular",sans-serif ;
      font-size: 30px;
      color: #474747;
  }
  .nav-link{
      position: relative;
      top:-140px;
      left:15%;
  }
  .home{
      text-align: center;
      position: relative;
      top: -70%;
      left: 120px;
      color: #a5a5a5;
      font-family:"BebasNeue-Regular",sans-serif ;
      font-size: 24px;
      width: 150px;
      height: 20px;
  }
  .home-get{
      text-align: center;
      position: relative;
      top: -70%;
      left: 135px;
      color: #a5a5a5;
      font-family:"BebasNeue-Regular",sans-serif ;
      font-size: 24px;
      width: 150px;
      height: 20px; 
  }
  .li-nav{
      padding: 0px;
      margin: 0px;
  }

  /*Block About*/
  .about{
    
    margin-top: -70px;
  }
  .about_title{
    font-family:"BebasNeue-Regular",sans-serif;
    color: #474747;
    font-size: 34px;
  } 
  .about_text{
      color: #a5a5a5;
      font-family: "HelveticaNeue",sans-serif;
      font-style: italic;
}

/*==============================================*boxs*==================================*/

.box_box{
display: flex;   
flex-direction: row;
justify-content: flex-start; 
}

.box_mission{
width:300px;
height:300px;
padding: 20px;
}

.our{
    font-family:"BebasNeue-Regular",sans-serif;
    color: #474747;
    font-size: 20px; 
}

.eget{
   font-family: "HelveticaNeue", sans-serif; 
   font-size: 12px;
   color: #9e9d9d;
}

.sed{
    font-family: "HelveticaNeue", sans-serif; 
    font-size: 12px;
    color: #474747;  
}

/*===============================position==========================*/

.container_posittion{
    display: flex;
    flex-direction: row;
    position:relative;
    top: 0px;
    left: -322px;
    right: 0px;
    bottom: 0px;
    height: 350px;
    width: 300px;
    
}
.position{
    margin: 20px;
}

.jane{
    font-family:"BebasNeue-Regular",sans-serif;
    color: #474747;
    font-size: 20px;
    padding: 5px; 

}

.dote{
    text-align: center;
    position: relative;
    top: -50px;
    bottom: 0px;
    left: 30%;
    right: 0px;
    font-family:"BebasNeue-Regular",sans-serif;
    color: #515151;
    font-size: 15px; 
}

.seo{
    font-family:"BebasNeue-Regular",sans-serif;
    color: #949393;
    font-size: 14px; 
    position: relative;
    top: -23%; 
    padding:5px;
}

.seded{
    font-family: "HelveticaNeue", sans-serif;
    font-size: 12px;  
    color: #515151;
    padding: 5px;
    position: relative;
    top:-23%;
}

/*================footer=============*/

.foter_text{
    font-family: "HelveticaNeue", sans-serif; 
    color: #9b9b9b;
    font-size: 12px;
    line-height: 18px;
    padding:25px;
}